/* -- General settings -- */
:root {
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);

    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.5em;
    background: var(--Light-grayish-blue);
    color: var(--White);
}

/* -- Mobile First 375px -- */
/* -- Main + testimonials grid -- */
main {
    margin: 4em 2em;
}

#testimonials-grid {
    display: grid;
    gap: 2em;
}

/* Testimonial 1 by 1 */
#daniel {
    background: url(/assets/img/bg-pattern-quotation.svg)no-repeat right 10% top var(--Moderate-violet);
}

#jonathan {
    background: var(--Very-dark-grayish-blue);
}

#jeanette {
    background: var(--White);
}

#patrick {
    background: var(--Very-dark-blackish-blue);
}

#kira {
    background: var(--White);
}

#kira, #jeanette {
    color: var(--Very-dark-grayish-blue);
}

.testimonial {
    border-radius: 0.7em;
    padding: 2.6em;
}

.testimonial-figure {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Image styling */
.img-wrap {
    width: 2.5em;
}

.figure-image {
    border-radius: 50%;
    max-width: 100%;
}

#img-daniel {
    border: hsl(278.7, 59.2%, 69.2%) 0.2em solid; 
}

#img-patrick {
    border: var(--Moderate-violet) 0.2em solid;
}

.testimonial-caption {
    margin-left: 1em;
}

.name {
    font-size: 1.1em;
    margin-bottom: -0.3em;
}

.verified {
    font-size: 0.9em;
    opacity: 50%;
}

.review {
    font-weight: 600;
    font-size: 1.5em;
    margin: 0.7em 0 1em;
    line-height: 1.3em;
}

.quote {
    opacity: 70%;
}

/* Footer signature */
.attribution {
    font-size: 11px; 
    text-align: center; 
    color: #222;
}
.attribution a { color: hsl(228, 45%, 44%); }

/* -- Media Queries -- */
@media screen and ( min-width: 699px ) {
    main {
        margin: 5% 15%;
    }    
}

@media screen and ( min-width: 1100px ) {

    main {
        margin: 10% 10%;
    }

    #testimonials-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    } 

    #daniel {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #jonathan {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    #jeanette {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #patrick {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    #kira {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 4;
        grid-column-end: 5;
    }
}